<% provide(:title, 'About') %>
<div class="container">

<hr class="featurette-starter">

<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<hr class="featurette-divider">

</div><!-- /.container -->
