<% provide(:title, 'Edit User') %>
<div class="container">

<hr class="featurette-starter">

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


<hr class="featurette-divider">

</div><!-- /.container -->
