<% provide(:title, 'User Info - ' + "#{@user.fullname}") %>
<% provide(:page_heading, "#{@user.fullname}") %>

<div class="row">
  <div class="span4">
    <div class="muted">Member Since <%= @user.created_at %></div>
  </div><!-- /.span4 -->
  <div class="span8">
  <%= render @user.shops %>
  </div><!-- /.span8 -->
</div><!-- /.row -->

<%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
