<%= render 'shared/page_bottom' %>

<!-- FOOTER -->
<footer>
  <center>
  <small>
    <a href="/"><%= yield(:app_name) %></a> by <%= yield(:app_author) %> &copy; <%= yield(:copy_year) %>
  </small>
  </center>
</footer>
