<footer class="footer">
  <small> <a href="/">OpenMarket</a> by Mahesh Asolkar
  <nav>
    <ul class="nav">
      <li><a href="http://railstutorial.org/">With help from Rails Tutorial</a></li>
    </ul>
  </nav>
  </small>
 </footer>
